    <div class="container">
      <div class="footer-content">
        <div class="social-links">
          <a href="https://twitter.com/your-org" target="_blank">Twitter</a>
          <a href="https://facebook.com/your-org" target="_blank">Facebook</a>
          <a href="https://linkedin.com/company/your-org" target="_blank">LinkedIn</a>
          <a href="https://instagram.com/your-org" target="_blank">Instagram</a>
          <br>
        </div>
        <p>&copy; 2025 Your Organization Name. All rights reserved.</p>
      </div>
    </div>