<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Scholarships</title>
  <link rel="stylesheet" href="../styles/main.css">
</head>
<body>

  <header>
  <nav class="main-nav">
    <div class="nav-brand">
      <a href="index.html">Sanketham gecw</a>
    </div>
    <ul class="nav-links">
      <li><a href="index.html">Home</a></li>
      <li><a href="about.html">About Us</a></li>
      <li><a href="scholarships.html">Scholarships</a></li>
      <li><a href="execomm.html">Execomm</a></li>
    </ul>
  </nav>
</header>


  <main>
    <h1>Scholarships</h1>
    <p>This is the main content for the scholarships page.</p>
  </main>

  <footer>
    <div class="container">
      </div>
  </footer>

</body>
</html>
